{% extends "base.html" %}

{% block content %}
<div class="container mt-5">
    <h2>Add New Product</h2>
    <form method="POST" enctype="multipart/form-data">
        <div class="text">


        {{ form.hidden_tag() }}
        <div class="form-group">
            {{ form.product_name.label }}<br>
            {{ form.product_name(class="form-control") }}
            {% for error in form.product_name.errors %}
                <span class="text-danger">{{ error }}</span>
            {% endfor %}
        </div>
        <div class="form-group">
            {{ form.product_description.label }}<br>
            {{ form.product_description(class="form-control") }}
            {% for error in form.product_description.errors %}
                <span class="text-danger">{{ error }}</span>
            {% endfor %}
        </div>
        <div class="form-group">
            {{ form.cost_price.label }}<br>
            {{ form.cost_price(class="form-control") }}
            {% for error in form.cost_price.errors %}
                <span class="text-danger">{{ error }}</span>
            {% endfor %}
        </div>
        <div class="form-group">
            {{ form.selling_price.label }}<br>
            {{ form.selling_price(class="form-control") }}
            {% for error in form.selling_price.errors %}
                <span class="text-danger">{{ error }}</span>
            {% endfor %}
        </div>
        <div class="form-group">
            {{ form.discount.label }}<br>
            {{ form.discount(class="form-control") }}
            {% for error in form.discount.errors %}
                <span class="text-danger">{{ error }}</span>
            {% endfor %}
        </div>
        <div class="form-group">
            {{ form.stock_quantity.label }}<br>
            {{ form.stock_quantity(class="form-control") }}
            {% for error in form.stock_quantity.errors %}
                <span class="text-danger">{{ error }}</span>
            {% endfor %}
        </div>
        <div class="form-group">
            {{ form.product_image.label }}<br>
            {{ form.product_image(class="form-control") }}
            {% for error in form.product_image.errors %}
                <span class="text-danger">{{ error }}</span>
            {% endfor %}
        </div>
        <button type="submit" class="btn btn-primary mt-3">{{ form.submit.label }}</button>
    </form>
</div>
{% endblock %}