{% extends "base.html" %}

{% block title %}Categories - {{ company_name }}{% endblock %}

{% block content %}
    {% include 'components/_admin_layout.html' %}

    <!-- Category Listing -->
    <div class="container my-4">
        <div class="d-flex justify-content-between align-items-center mb-4">
            <h2 class="text-center">Featured Categories</h2>
            <!-- Add New Category Button -->
            <a href="{{ url_for('category.new_category') }}" class="btn btn-primary">+ Add New Category</a>
        </div>
        <div class="row row-cols-2 row-cols-md-4 g-4">
            {% if categories %}
                {% for category in categories %}
                <div class="col">
                    <div class="card h-100 shadow-sm">
                        <div class="card-footer text-center text-primary">
                            <h4>Category {{ loop.index }}</h4>
                        </div>
                        <!-- Category Image -->
                        <img src="{{ url_for('static', filename=category.category_image_path.split('static/', 1)[-1]) }}" 
                             class="card-img-top w-100 category-image" alt="{{ category.category_name }}">
                        <div class="card-body">
                            <h5 class="card-title" style="font-family: 'Concert One';">
                                {{ category.category_name | capitalize }}
                            </h5>
                            <p class="card-text">{{ category.category_description }}</p>
                        </div>
                    </div>
                </div>
                {% endfor %}
            {% else %}
                <div class="col text-center">
                    <p>No categories available at the moment. Please check back later!</p>
                </div>
            {% endif %}
        </div>
    </div>
{% endblock %}
